
body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url(https://cdn.allwallpaper.in/wallpapers/1920x1200/9965/beautiful-library-study-interior-1920x1200-wallpaper.jpg);
}

header {
  background-color: darkgoldenrod;
  opacity: 0.9;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: darkgreen;
  margin: 1em;
}

.link {
  margin-top: 1em;
}

a:hover {
  text-decoration: none;
  color: darkred;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

h1 {
  margin: 0;
}
